<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/website_test/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/website_test">Home</a></li>
		        	<li><a href="/website_test/about">About</a></li>
	        		<li><a href="/website_test/software">Software</a></li>
	        		<li><a href="/website_test/hardware">Hardware</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:asithank@gmail.com">email</a></li>
	        		<li><a href="https://github.com/akaduwela">github.com/akaduwela</a></li>
				</ul>
			</footer>
		</body>
	</html>
